.pg_ttl{
    margin-top: 100px;
    margin-left: 150px;
    font-size: 30px;
    font-weight: bold;
}

.home_address{
    margin-top: 100px;
    margin-left: 150px;
    font-size: 30px;
    font-weight: bold;
}